# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

####  Run this cell to set up and start your interactive session.

In [1]:

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.4
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 5
Session ID: dfd50663-7e30-4468-8f4c-f0abe45b8556
Applying the following default arguments:
--glue_kernel_version 1.0.4
--enable-glue-datacatalog true
Waiting for session dfd50663-7e30-4468-8f4c-f0abe45b8556 to get into ready status...
Session dfd50663-7e30-4468-8f4c-f0abe45b8556 has been created.

In [5]:
dynamicFrameCustomers = glueContext.create_dynamic_frame.from_catalog(
database = "pyspark_tutorial_db", 
table_name = "customers"
)

In [6]:
dynamicFrameCustomers.show(10)

{"customerid": 293, "firstname": "Catherine", "lastname": "Abel", "fullname": "Catherine Abel"}
{"customerid": 295, "firstname": "Kim", "lastname": "Abercrombie", "fullname": "Kim Abercrombie"}
{"customerid": 297, "firstname": "Humberto", "lastname": "Acevedo", "fullname": "Humberto Acevedo"}
{"customerid": 291, "firstname": "Gustavo", "lastname": "Achong", "fullname": "Gustavo Achong"}
{"customerid": 299, "firstname": "Pilar", "lastname": "Ackerman", "fullname": "Pilar Ackerman"}
{"customerid": 305, "firstname": "Carla", "lastname": "Adams", "fullname": "Carla Adams"}
{"customerid": 301, "firstname": "Frances", "lastname": "Adams", "fullname": "Frances Adams"}
{"customerid": 307, "firstname": "Jay", "lastname": "Adams", "fullname": "Jay Adams"}
{"customerid": 309, "firstname": "Ronald", "lastname": "Adina", "fullname": "Ronald Adina"}
{"customerid": 311, "firstname": "Samuel", "lastname": "Agcaoili", "fullname": "Samuel Agcaoili"}

In [7]:
# Check types in dynamic frame
dynamicFrameCustomers.printSchema()

root
|-- customerid: long
|-- firstname: string
|-- lastname: string
|-- fullname: string

In [9]:
# Count The Number of Rows in a Dynamic Dataframe 
dynamicFrameCustomers.count()

635

In [10]:
# Selecting certain fields from a Dynamic DataFrame
dyfCustomerSelectFields = dynamicFrameCustomers.select_fields(["customerid", "fullname"])

# Show top 10
dyfCustomerSelectFields.show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [11]:
# Selecting certain fields from a Dynamic DataFrame
dyfCustomerSelectFields = dynamicFrameCustomers.select_fields(["customerid", "fullname"])

# Show top 10
dyfCustomerSelectFields.show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [13]:
#Drop Fields of Dynamic Frame
dyfCustomerDropFields = dynamicFrameCustomers.drop_fields(["firstname","lastname"])

# Show Top 10 rows of dyfCustomerDropFields Dynamic Frame
dyfCustomerDropFields.show(10)

{"customerid": 293, "fullname": "Catherine Abel"}
{"customerid": 295, "fullname": "Kim Abercrombie"}
{"customerid": 297, "fullname": "Humberto Acevedo"}
{"customerid": 291, "fullname": "Gustavo Achong"}
{"customerid": 299, "fullname": "Pilar Ackerman"}
{"customerid": 305, "fullname": "Carla Adams"}
{"customerid": 301, "fullname": "Frances Adams"}
{"customerid": 307, "fullname": "Jay Adams"}
{"customerid": 309, "fullname": "Ronald Adina"}
{"customerid": 311, "fullname": "Samuel Agcaoili"}

In [14]:
# Mapping array for column rename fullname -> name
mapping=[("customerid", "long", "customerid","long"),("fullname", "string", "name", "string")]

# Apply the mapping to rename fullname -> name
dfyMapping = ApplyMapping.apply(
                                frame = dyfCustomerDropFields, 
                                mappings = mapping, 
                                transformation_ctx = "applymapping1"
                                )

# show the new dynamic frame with name column 
dfyMapping.show(10)

{"customerid": 293, "name": "Catherine Abel"}
{"customerid": 295, "name": "Kim Abercrombie"}
{"customerid": 297, "name": "Humberto Acevedo"}
{"customerid": 291, "name": "Gustavo Achong"}
{"customerid": 299, "name": "Pilar Ackerman"}
{"customerid": 305, "name": "Carla Adams"}
{"customerid": 301, "name": "Frances Adams"}
{"customerid": 307, "name": "Jay Adams"}
{"customerid": 309, "name": "Ronald Adina"}
{"customerid": 311, "name": "Samuel Agcaoili"}

In [15]:
# Filter dynamicFrameCustomers for customers who have the last name Adams
dyfFilter=  Filter.apply(frame = dynamicFrameCustomers, 
                                        f = lambda x: x["lastname"] in "Adams"
                                    )

# Show the top 10 customers  from the filtered Dynamic frame 
dyfFilter.show(10)

{"lastname": "Adams", "firstname": "Carla", "customerid": 305, "fullname": "Carla Adams"}
{"lastname": "Adams", "firstname": "Frances", "customerid": 301, "fullname": "Frances Adams"}
{"lastname": "Adams", "firstname": "Jay", "customerid": 307, "fullname": "Jay Adams"}

In [16]:
# Read from the customers table in the glue data catalog using a dynamic frame
dynamicFrameOrders = glueContext.create_dynamic_frame.from_catalog(
database = "pyspark_tutorial_db", 
table_name = "orders"
)

# show top 10 rows of orders table
dynamicFrameOrders.show(10)

{"salesorderid": 43659, "salesorderdetailid": 1, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 776, "orderqty": 1, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 2024.9940}
{"salesorderid": 43659, "salesorderdetailid": 2, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 777, "orderqty": 3, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 6074.9820}
{"salesorderid": 43659, "salesorderdetailid": 3, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 778, "orderqty": 1, "unitprice": 2024.9940, "unitpricediscount": 0.0000, "linetotal": 2024.9940}
{"salesorderid": 43659, "salesorderdetailid": 4, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 771, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 5, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 772, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 6, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 773, "orderqty": 2, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 4079.9880}
{"salesorderid": 43659, "salesorderdetailid": 7, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 774, "orderqty": 1, "unitprice": 2039.9940, "unitpricediscount": 0.0000, "linetotal": 2039.9940}
{"salesorderid": 43659, "salesorderdetailid": 8, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 714, "orderqty": 3, "unitprice": 28.8404, "unitpricediscount": 0.0000, "linetotal": 86.5212}
{"salesorderid": 43659, "salesorderdetailid": 9, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 716, "orderqty": 1, "unitprice": 28.8404, "unitpricediscount": 0.0000, "linetotal": 28.8404}
{"salesorderid": 43659, "salesorderdetailid": 10, "orderdate": "5/31/2011", "duedate": "6/12/2011", "shipdate": "6/7/2011", "employeeid": 279, "customerid": 1045, "subtotal": 20565.6206, "taxamt": 1971.5149, "freight": 616.0984, "totaldue": 23153.2339, "productid": 709, "orderqty": 6, "unitprice": 5.7000, "unitpricediscount": 0.0000, "linetotal": 34.2000}

In [17]:
# Join two dynamic frames on an equality join
dyfjoin = dynamicFrameCustomers.join(["customerid"],["customerid"],dynamicFrameOrders)

# show top 10 rows for the joined dynamic 
dyfjoin.show(10)

{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1628, "productid": 754, "linetotal": 874.7940, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 874.7940, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1629, "productid": 760, "linetotal": 419.4589, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1630, "productid": 762, "linetotal": 838.9178, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 2, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1631, "productid": 708, "linetotal": 80.7460, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 4, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 20.1865, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1632, "productid": 715, "linetotal": 28.8404, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 28.8404, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1633, "productid": 711, "linetotal": 80.7460, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 4, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 20.1865, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1634, "productid": 761, "linetotal": 419.4589, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1635, "productid": 770, "linetotal": 419.4589, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 1, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 419.4589, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1636, "productid": 758, "linetotal": 1749.5880, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 2, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 874.7940, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}
{"freight": 181.0019, "subtotal": 6035.8246, "salesorderdetailid": 1637, "productid": 725, "linetotal": 735.7528, "employeeid": 277, ".customerid": 671, "taxamt": 579.2061, "salesorderid": 44097, "duedate": "8/13/2011", "orderqty": 4, "shipdate": "8/8/2011", "lastname": "Chapla", "firstname": "Lee", "totaldue": 6796.0326, "unitprice": 183.9382, "orderdate": "8/1/2011", "unitpricediscount": 0.0000, "customerid": 671, "fullname": "Lee Chapla"}

In [18]:
# write down the data in a Dynamic Frame to S3 location. 
glueContext.write_dynamic_frame.from_options(
                        frame = dynamicFrameCustomers,
                        connection_type="s3", 
                        connection_options = {"path": "s3://chivas-1994-101/write_down_dyf_to_s3"}, 
                        format = "csv", 
                        format_options={
                            "separator": ","
                            },
                        transformation_ctx = "datasink2")

<awsglue.dynamicframe.DynamicFrame object at 0x7f0a20505180>

In [19]:
# write data from the dynamicFrameCustomers to customers_write_dyf table using the meta data stored in the glue data catalog 
glueContext.write_dynamic_frame.from_catalog(
    frame=dynamicFrameCustomers,
    database = "pyspark_tutorial_db",  
    table_name = "customers_write_dyf"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f0a20504d00>

In [20]:
# Dynamic Frame to Spark DataFrame 
sparkDf = dynamicFrameCustomers.toDF()

#show spark DF
sparkDf.show()

+----------+----------+-----------+--------------------+
|customerid| firstname|   lastname|            fullname|
+----------+----------+-----------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+
only showing top 20 rows

/opt/amazon/spark/python/lib/pyspark.zip/pyspark/sql/dataframe.py:127: UserWarning: DataFrame constructor is internal. Do not directly use it.

In [21]:
# Select columns from spark dataframe
dfSelect = sparkDf.select("customerid","fullname")

# show selected
dfSelect.show()

+----------+--------------------+
|customerid|            fullname|
+----------+--------------------+
|       293|      Catherine Abel|
|       295|     Kim Abercrombie|
|       297|    Humberto Acevedo|
|       291|      Gustavo Achong|
|       299|      Pilar Ackerman|
|       305|         Carla Adams|
|       301|       Frances Adams|
|       307|           Jay Adams|
|       309|        Ronald Adina|
|       311|     Samuel Agcaoili|
|       313|       James Aguilar|
|       315|     Robert Ahlering|
|       319|           Kim Akers|
|       441|        Stanley Alan|
|       323|         Amy Alberts|
|       325|       Anna Albright|
|       327|       Milton Albury|
|       329|         Paul Alcorn|
|       331|    Gregory Alderson|
|       333|J. Phillip Alexander|
+----------+--------------------+
only showing top 20 rows

In [22]:
#import lit from sql functions 
from  pyspark.sql.functions import lit

# Add new column to spark dataframe
dfNewColumn = sparkDf.withColumn("date", lit("2022-07-24"))

# show df with new column
dfNewColumn.show()

+----------+----------+-----------+--------------------+----------+
|customerid| firstname|   lastname|            fullname|      date|
+----------+----------+-----------+--------------------+----------+
|       293| Catherine|       Abel|      Catherine Abel|2022-07-24|
|       295|       Kim|Abercrombie|     Kim Abercrombie|2022-07-24|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|2022-07-24|
|       291|   Gustavo|     Achong|      Gustavo Achong|2022-07-24|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|2022-07-24|
|       305|     Carla|      Adams|         Carla Adams|2022-07-24|
|       301|   Frances|      Adams|       Frances Adams|2022-07-24|
|       307|       Jay|      Adams|           Jay Adams|2022-07-24|
|       309|    Ronald|      Adina|        Ronald Adina|2022-07-24|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|2022-07-24|
|       313|     James|    Aguilar|       James Aguilar|2022-07-24|
|       315|    Robert|   Ahlering|     Robert Ahlering|2022-07-24|
|       319|       Kim|      Akers|           Kim Akers|2022-07-24|
|       441|   Stanley|       Alan|        Stanley Alan|2022-07-24|
|       323|       Amy|    Alberts|         Amy Alberts|2022-07-24|
|       325|      Anna|   Albright|       Anna Albright|2022-07-24|
|       327|    Milton|     Albury|       Milton Albury|2022-07-24|
|       329|      Paul|     Alcorn|         Paul Alcorn|2022-07-24|
|       331|   Gregory|   Alderson|    Gregory Alderson|2022-07-24|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|2022-07-24|
+----------+----------+-----------+--------------------+----------+
only showing top 20 rows

In [23]:
#import concat from functions 
from  pyspark.sql.functions import concat

# create another full name column
dfNewFullName = sparkDf.withColumn("new_full_name",concat("firstname",concat(lit(' '),"lastname")))

#show full name column 
dfNewFullName.show()

+----------+----------+-----------+--------------------+--------------------+
|customerid| firstname|   lastname|            fullname|       new_full_name|
+----------+----------+-----------+--------------------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [24]:
# Drop column from spark dataframe
dfDropCol = sparkDf.drop("firstname","lastname")

#show dropped column df
dfDropCol.show()

+----------+--------------------+
|customerid|            fullname|
+----------+--------------------+
|       293|      Catherine Abel|
|       295|     Kim Abercrombie|
|       297|    Humberto Acevedo|
|       291|      Gustavo Achong|
|       299|      Pilar Ackerman|
|       305|         Carla Adams|
|       301|       Frances Adams|
|       307|           Jay Adams|
|       309|        Ronald Adina|
|       311|     Samuel Agcaoili|
|       313|       James Aguilar|
|       315|     Robert Ahlering|
|       319|           Kim Akers|
|       441|        Stanley Alan|
|       323|         Amy Alberts|
|       325|       Anna Albright|
|       327|       Milton Albury|
|       329|         Paul Alcorn|
|       331|    Gregory Alderson|
|       333|J. Phillip Alexander|
+----------+--------------------+
only showing top 20 rows

In [25]:
# Rename column in Spark dataframe
dfRenameCol = sparkDf.withColumnRenamed("fullname","full_name")

#show renamed column dataframe
dfRenameCol.show()

+----------+----------+-----------+--------------------+
|customerid| firstname|   lastname|           full_name|
+----------+----------+-----------+--------------------+
|       293| Catherine|       Abel|      Catherine Abel|
|       295|       Kim|Abercrombie|     Kim Abercrombie|
|       297|  Humberto|    Acevedo|    Humberto Acevedo|
|       291|   Gustavo|     Achong|      Gustavo Achong|
|       299|     Pilar|   Ackerman|      Pilar Ackerman|
|       305|     Carla|      Adams|         Carla Adams|
|       301|   Frances|      Adams|       Frances Adams|
|       307|       Jay|      Adams|           Jay Adams|
|       309|    Ronald|      Adina|        Ronald Adina|
|       311|    Samuel|   Agcaoili|     Samuel Agcaoili|
|       313|     James|    Aguilar|       James Aguilar|
|       315|    Robert|   Ahlering|     Robert Ahlering|
|       319|       Kim|      Akers|           Kim Akers|
|       441|   Stanley|       Alan|        Stanley Alan|
|       323|       Amy|    Alberts|         Amy Alberts|
|       325|      Anna|   Albright|       Anna Albright|
|       327|    Milton|     Albury|       Milton Albury|
|       329|      Paul|     Alcorn|         Paul Alcorn|
|       331|   Gregory|   Alderson|    Gregory Alderson|
|       333|J. Phillip|  Alexander|J. Phillip Alexander|
+----------+----------+-----------+--------------------+
only showing top 20 rows

In [26]:
# Group by lastname then print counts of lastname and show
sparkDf.groupBy("lastname").count().show()

+--------+-----+
|lastname|count|
+--------+-----+
|  Achong|    1|
|  Bailey|    1|
|   Caron|    1|
|   Casts|    1|
|   Curry|    1|
| Desalvo|    1|
| Dockter|    1|
|    Dyck|    1|
|  Farino|    1|
| Fluegel|    1|
|   Ganio|    1|
|   Gimmi|    1|
|Gonzales|    2|
|   Graff|    1|
|   Groth|    1|
|    Hass|    1|
| Hassall|    1|
|Hillmann|    1|
| Hodgson|    1|
|   Ihrig|    1|
+--------+-----+
only showing top 20 rows

In [27]:
# Filter spark DataFrame for customers who have the last name Adams
sparkDf.filter(sparkDf["lastname"] == "Adams").show()

+----------+---------+--------+-------------+
|customerid|firstname|lastname|     fullname|
+----------+---------+--------+-------------+
|       305|    Carla|   Adams|  Carla Adams|
|       301|  Frances|   Adams|Frances Adams|
|       307|      Jay|   Adams|    Jay Adams|
+----------+---------+--------+-------------+

In [28]:
# Where clause spark DataFrame for customers who have the last name Adams
sparkDf.where("lastname =='Adams'").show()

+----------+---------+--------+-------------+
|customerid|firstname|lastname|     fullname|
+----------+---------+--------+-------------+
|       305|    Carla|   Adams|  Carla Adams|
|       301|  Frances|   Adams|Frances Adams|
|       307|      Jay|   Adams|    Jay Adams|
+----------+---------+--------+-------------+

In [29]:
# Read from the customers table in the glue data catalog using a dynamic frame and convert to spark dataframe
dfOrders = glueContext.create_dynamic_frame.from_catalog(
                                        database = "pyspark_tutorial_db", 
                                        table_name = "orders"
                                    ).toDF()

In [30]:
# Inner Join Customers Spark DF to Orders Spark DF
sparkDf.join(dfOrders,sparkDf.customerid ==  dfOrders.customerid,"inner").show(truncate=False)

+----------+---------+--------+--------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|customerid|firstname|lastname|fullname      |salesorderid|salesorderdetailid|orderdate|duedate  |shipdate|employeeid|customerid|subtotal  |taxamt   |freight |totaldue  |productid|orderqty|unitprice|unitpricediscount|linetotal|
+----------+---------+--------+--------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|517       |Richard  |Bready  |Richard Bready|43665       |61                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|711      |2       |20.1865  |0.0000           |40.3730  |
|517       |Richard  |Bready  |Richard Bready|43665       |62                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|773      |1       |2039.9940|0.0000           |2039.9940|
|517       |Richard  |Bready  |Richard Bready|43665       |63                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|707      |1       |20.1865  |0.0000           |20.1865  |
|517       |Richard  |Bready  |Richard Bready|43665       |64                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|715      |2       |28.8404  |0.0000           |57.6808  |
|517       |Richard  |Bready  |Richard Bready|43665       |65                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|777      |2       |2024.9940|0.0000           |4049.9880|
|517       |Richard  |Bready  |Richard Bready|43665       |66                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|712      |2       |5.1865   |0.0000           |10.3730  |
|517       |Richard  |Bready  |Richard Bready|43665       |67                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|775      |2       |2024.9940|0.0000           |4049.9880|
|517       |Richard  |Bready  |Richard Bready|43665       |68                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|778      |1       |2024.9940|0.0000           |2024.9940|
|517       |Richard  |Bready  |Richard Bready|43665       |69                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|709      |6       |5.7000   |0.0000           |34.2000  |
|517       |Richard  |Bready  |Richard Bready|43665       |70                |5/31/2011|6/12/2011|6/7/2011|283       |517       |14352.7713|1375.9427|429.9821|16158.6961|776      |1       |2024.9940|0.0000           |2024.9940|
|1405      |Steve    |Masters |Steve Masters |43854       |576               |7/1/2011 |7/13/2011|7/8/2011|282       |1405      |1749.5880 |167.9604 |52.4876 |1970.0360 |758      |2       |874.7940 |0.0000           |1749.5880|
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |619               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |715      |1       |28.8404  |0.0000           |28.8404  |
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |620               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |762      |1       |419.4589 |0.0000           |419.4589 |
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |621               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |758      |3       |874.7940 |0.0000           |2624.3820|
|1133      |Lucio    |Iallo   |Lucio Iallo   |43859       |622               |7/1/2011 |7/13/2011|7/8/2011|276       |1133      |3911.5991 |375.2443 |117.2639|4404.1073 |760      |2       |419.4589 |0.0000           |838.9178 |
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |815               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |762      |2       |419.4589 |0.0000           |838.9178 |
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |816               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |758      |1       |874.7940 |0.0000           |874.7940 |
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |817               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |763      |3       |419.4589 |0.0000           |1258.3767|
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |818               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |754      |2       |874.7940 |0.0000           |1749.5880|
|1935      |Lynn     |Tsoflias|Lynn Tsoflias |43876       |819               |7/1/2011 |7/13/2011|7/8/2011|275       |1935      |7135.2649 |686.9474 |214.6711|8036.8834 |725      |2       |183.9382 |0.0000           |367.8764 |
+----------+---------+--------+--------------+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
only showing top 20 rows

In [31]:
#Get customers that only have surname Adams
dfAdams = sparkDf.where("lastname =='Adams'")

# inner join on Adams DF and orders
dfAdams.join(dfOrders,dfAdams.customerid ==  dfOrders.customerid,"inner").show()

+----------+---------+--------+---------+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+
|customerid|firstname|lastname| fullname|salesorderid|salesorderdetailid| orderdate|   duedate| shipdate|employeeid|customerid|  subtotal|   taxamt|  freight|  totaldue|productid|orderqty|unitprice|unitpricediscount|linetotal|
+----------+---------+--------+---------+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+
|       307|      Jay|   Adams|Jay Adams|       48382|             23857|10/30/2012|11/11/2012|11/6/2012|       277|       307|   20.5200|   2.0246|   0.6327|   23.1773|      805|       1|  20.5200|           0.0000|  20.5200|
|       307|      Jay|   Adams|Jay Adams|       50734|             34874| 4/30/2013| 5/12/2013| 5/7/2013|       275|       307| 2232.8181| 220.3047|  68.8452| 2521.9680|      739|       3| 744.2727|           0.0000|2232.8181|
|       307|      Jay|   Adams|Jay Adams|       53561|             49267| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      952|       6|  12.1440|           0.0000|  72.8640|
|       307|      Jay|   Adams|Jay Adams|       53561|             49268| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      739|       1| 818.7000|           0.0000| 818.7000|
|       307|      Jay|   Adams|Jay Adams|       53561|             49269| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      985|       4| 338.9940|           0.0000|1355.9760|
|       307|      Jay|   Adams|Jay Adams|       53561|             49270| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      981|       4| 461.6940|           0.0000|1846.7760|
|       307|      Jay|   Adams|Jay Adams|       53561|             49271| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      919|       1| 158.4300|           0.0000| 158.4300|
|       307|      Jay|   Adams|Jay Adams|       53561|             49272| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      747|       1| 809.7600|           0.0000| 809.7600|
|       307|      Jay|   Adams|Jay Adams|       53561|             49273| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      945|       4|  54.8940|           0.0000| 219.5760|
|       307|      Jay|   Adams|Jay Adams|       53561|             49274| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      926|       1| 149.8740|           0.0000| 149.8740|
|       307|      Jay|   Adams|Jay Adams|       53561|             49275| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      781|       3|1391.9940|           0.0000|4175.9820|
|       307|      Jay|   Adams|Jay Adams|       53561|             49276| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      867|       6|  41.9940|           0.0000| 251.9640|
|       307|      Jay|   Adams|Jay Adams|       53561|             49277| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      742|       1| 818.7000|           0.0000| 818.7000|
|       307|      Jay|   Adams|Jay Adams|       53561|             49278| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      994|       2|  32.3940|           0.0000|  64.7880|
|       307|      Jay|   Adams|Jay Adams|       53561|             49279| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      920|       3| 158.4300|           0.0000| 475.2900|
|       307|      Jay|   Adams|Jay Adams|       53561|             49280| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      984|       1| 338.9940|           0.0000| 338.9940|
|       307|      Jay|   Adams|Jay Adams|       53561|             49281| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      925|       9| 149.8740|           0.0000|1348.8660|
|       307|      Jay|   Adams|Jay Adams|       53561|             49282| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      918|       2| 158.4300|           0.0000| 316.8600|
|       307|      Jay|   Adams|Jay Adams|       53561|             49283| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      784|       5|1376.9940|           0.0000|6884.9700|
|       307|      Jay|   Adams|Jay Adams|       53561|             49284| 7/31/2013| 8/12/2013| 8/7/2013|       275|       307|48717.0900|4705.2935|1470.4042|54892.7877|      950|       2| 153.8940|           0.0000| 307.7880|
+----------+---------+--------+---------+------------+------------------+----------+----------+---------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+
only showing top 20 rows

In [32]:
#left join on orders and adams df
dfOrders.join(dfAdams,dfAdams.customerid ==  dfOrders.customerid,"left").show(100)

+------------+------------------+---------+---------+--------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+----------+---------+--------+--------+
|salesorderid|salesorderdetailid|orderdate|  duedate|shipdate|employeeid|customerid|  subtotal|   taxamt|  freight|  totaldue|productid|orderqty|unitprice|unitpricediscount|linetotal|customerid|firstname|lastname|fullname|
+------------+------------------+---------+---------+--------+----------+----------+----------+---------+---------+----------+---------+--------+---------+-----------------+---------+----------+---------+--------+--------+
|       43665|                61|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      711|       2|  20.1865|           0.0000|  40.3730|      null|     null|    null|    null|
|       43665|                62|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      773|       1|2039.9940|           0.0000|2039.9940|      null|     null|    null|    null|
|       43665|                63|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      707|       1|  20.1865|           0.0000|  20.1865|      null|     null|    null|    null|
|       43665|                64|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      715|       2|  28.8404|           0.0000|  57.6808|      null|     null|    null|    null|
|       43665|                65|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      777|       2|2024.9940|           0.0000|4049.9880|      null|     null|    null|    null|
|       43665|                66|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      712|       2|   5.1865|           0.0000|  10.3730|      null|     null|    null|    null|
|       43665|                67|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      775|       2|2024.9940|           0.0000|4049.9880|      null|     null|    null|    null|
|       43665|                68|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      778|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|
|       43665|                69|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      709|       6|   5.7000|           0.0000|  34.2000|      null|     null|    null|    null|
|       43665|                70|5/31/2011|6/12/2011|6/7/2011|       283|       517|14352.7713|1375.9427| 429.9821|16158.6961|      776|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|
|       43668|                81|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      756|       3| 874.7940|           0.0000|2624.3820|      null|     null|    null|    null|
|       43668|                82|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      753|       2|2146.9620|           0.0000|4293.9240|      null|     null|    null|    null|
|       43668|                83|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      760|       7| 419.4589|           0.0000|2936.2123|      null|     null|    null|    null|
|       43668|                84|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      765|       6| 419.4589|           0.0000|2516.7534|      null|     null|    null|    null|
|       43668|                85|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      715|       6|  28.8404|           0.0000| 173.0424|      null|     null|    null|    null|
|       43668|                86|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      730|       6| 183.9382|           0.0000|1103.6292|      null|     null|    null|    null|
|       43668|                87|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      707|       2|  20.1865|           0.0000|  40.3730|      null|     null|    null|    null|
|       43668|                88|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      711|       2|  20.1865|           0.0000|  40.3730|      null|     null|    null|    null|
|       43668|                89|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      754|       2| 874.7940|           0.0000|1749.5880|      null|     null|    null|    null|
|       43668|                90|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      712|       4|   5.1865|           0.0000|  20.7460|      null|     null|    null|    null|
|       43668|                91|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      729|       2| 183.9382|           0.0000| 367.8764|      null|     null|    null|    null|
|       43668|                92|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      755|       3| 874.7940|           0.0000|2624.3820|      null|     null|    null|    null|
|       43668|                93|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      761|       3| 419.4589|           0.0000|1258.3767|      null|     null|    null|    null|
|       43668|                94|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      770|       2| 419.4589|           0.0000| 838.9178|      null|     null|    null|    null|
|       43668|                95|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      726|       3| 183.9382|           0.0000| 551.8146|      null|     null|    null|    null|
|       43668|                96|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      764|       2| 419.4589|           0.0000| 838.9178|      null|     null|    null|    null|
|       43668|                97|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      766|       2| 419.4589|           0.0000| 838.9178|      null|     null|    null|    null|
|       43668|                98|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      725|       2| 183.9382|           0.0000| 367.8764|      null|     null|    null|    null|
|       43668|                99|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      716|       1|  28.8404|           0.0000|  28.8404|      null|     null|    null|    null|
|       43668|               100|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      768|       2| 419.4589|           0.0000| 838.9178|      null|     null|    null|    null|
|       43668|               101|5/31/2011|6/12/2011|6/7/2011|       282|       591|35944.1562|3461.7654|1081.8017|40487.7233|      732|       4| 356.8980|           0.0000|1427.5920|      null|     null|    null|    null|
|       43663|                52|5/31/2011|6/12/2011|6/7/2011|       276|       483|  419.4589|  40.2681|  12.5838|  472.3108|      760|       1| 419.4589|           0.0000| 419.4589|      null|     null|    null|    null|
|       43662|                30|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      764|       3| 419.4589|           0.0000|1258.3767|      null|     null|    null|    null|
|       43662|                31|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      770|       5| 419.4589|           0.0000|2097.2945|      null|     null|    null|    null|
|       43662|                32|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      730|       2| 183.9382|           0.0000| 367.8764|      null|     null|    null|    null|
|       43662|                33|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      754|       4| 874.7940|           0.0000|3499.1760|      null|     null|    null|    null|
|       43662|                34|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      725|       3| 183.9382|           0.0000| 551.8146|      null|     null|    null|    null|
|       43662|                35|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      762|       5| 419.4589|           0.0000|2097.2945|      null|     null|    null|    null|
|       43662|                36|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      765|       3| 419.4589|           0.0000|1258.3767|      null|     null|    null|    null|
|       43662|                37|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      768|       2| 419.4589|           0.0000| 838.9178|      null|     null|    null|    null|
|       43662|                38|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      753|       1|2146.9620|           0.0000|2146.9620|      null|     null|    null|    null|
|       43662|                39|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      756|       1| 874.7940|           0.0000| 874.7940|      null|     null|    null|    null|
|       43662|                40|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      763|       3| 419.4589|           0.0000|1258.3767|      null|     null|    null|    null|
|       43662|                41|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      732|       1| 356.8980|           0.0000| 356.8980|      null|     null|    null|    null|
|       43662|                42|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      758|       6| 874.7940|           0.0000|5248.7640|      null|     null|    null|    null|
|       43662|                43|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      729|       1| 183.9382|           0.0000| 183.9382|      null|     null|    null|    null|
|       43662|                44|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      722|       3| 178.5808|           0.0000| 535.7424|      null|     null|    null|    null|
|       43662|                45|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      749|       1|2146.9620|           0.0000|2146.9620|      null|     null|    null|    null|
|       43662|                46|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      760|       3| 419.4589|           0.0000|1258.3767|      null|     null|    null|    null|
|       43662|                47|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      726|       1| 183.9382|           0.0000| 183.9382|      null|     null|    null|    null|
|       43662|                48|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      733|       1| 356.8980|           0.0000| 356.8980|      null|     null|    null|    null|
|       43662|                49|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      738|       1| 178.5808|           0.0000| 178.5808|      null|     null|    null|    null|
|       43662|                50|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      766|       3| 419.4589|           0.0000|1258.3767|      null|     null|    null|    null|
|       43662|                51|5/31/2011|6/12/2011|6/7/2011|       282|      1417|28832.5289|2775.1646| 867.2389|32474.9324|      755|       1| 874.7940|           0.0000| 874.7940|      null|     null|    null|    null|
|       43664|                53|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      772|       1|2039.9940|           0.0000|2039.9940|      null|     null|    null|    null|
|       43664|                54|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      775|       4|2024.9940|           0.0000|8099.9760|      null|     null|    null|    null|
|       43664|                55|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      714|       1|  28.8404|           0.0000|  28.8404|      null|     null|    null|    null|
|       43664|                56|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      716|       1|  28.8404|           0.0000|  28.8404|      null|     null|    null|    null|
|       43664|                57|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      777|       2|2024.9940|           0.0000|4049.9880|      null|     null|    null|    null|
|       43664|                58|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      771|       3|2039.9940|           0.0000|6119.9820|      null|     null|    null|    null|
|       43664|                59|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      773|       1|2039.9940|           0.0000|2039.9940|      null|     null|    null|    null|
|       43664|                60|5/31/2011|6/12/2011|6/7/2011|       280|      1205|24432.6088|2344.9921| 732.8100|27510.4109|      778|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|
|       43660|                13|5/31/2011|6/12/2011|6/7/2011|       279|       721| 1294.2529| 124.2483|  38.8276| 1457.3288|      762|       1| 419.4589|           0.0000| 419.4589|      null|     null|    null|    null|
|       43660|                14|5/31/2011|6/12/2011|6/7/2011|       279|       721| 1294.2529| 124.2483|  38.8276| 1457.3288|      758|       1| 874.7940|           0.0000| 874.7940|      null|     null|    null|    null|
|       43661|                15|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      745|       1| 809.7600|           0.0000| 809.7600|      null|     null|    null|    null|
|       43661|                16|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      743|       1| 714.7043|           0.0000| 714.7043|      null|     null|    null|    null|
|       43661|                17|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      747|       2| 714.7043|           0.0000|1429.4086|      null|     null|    null|    null|
|       43661|                18|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      712|       4|   5.1865|           0.0000|  20.7460|      null|     null|    null|    null|
|       43661|                19|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      715|       4|  28.8404|           0.0000| 115.3616|      null|     null|    null|    null|
|       43661|                20|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      742|       2| 722.5949|           0.0000|1445.1898|      null|     null|    null|    null|
|       43661|                21|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      775|       3|2024.9940|           0.0000|6074.9820|      null|     null|    null|    null|
|       43661|                22|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      778|       2|2024.9940|           0.0000|4049.9880|      null|     null|    null|    null|
|       43661|                23|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      711|       2|  20.1865|           0.0000|  40.3730|      null|     null|    null|    null|
|       43661|                24|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      741|       2| 818.7000|           0.0000|1637.4000|      null|     null|    null|    null|
|       43661|                25|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      776|       4|2024.9940|           0.0000|8099.9760|      null|     null|    null|    null|
|       43661|                26|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      773|       2|2039.9940|           0.0000|4079.9880|      null|     null|    null|    null|
|       43661|                27|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      716|       2|  28.8404|           0.0000|  57.6808|      null|     null|    null|    null|
|       43661|                28|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      777|       2|2024.9940|           0.0000|4049.9880|      null|     null|    null|    null|
|       43661|                29|5/31/2011|6/12/2011|6/7/2011|       282|       851|32726.4786|3153.7696| 985.5530|36865.8012|      708|       5|  20.1865|           0.0000| 100.9325|      null|     null|    null|    null|
|       43667|                77|5/31/2011|6/12/2011|6/7/2011|       277|      1373| 6107.0820| 586.1203| 183.1626| 6876.3649|      710|       3|   5.7000|           0.0000|  17.1000|      null|     null|    null|    null|
|       43667|                78|5/31/2011|6/12/2011|6/7/2011|       277|      1373| 6107.0820| 586.1203| 183.1626| 6876.3649|      773|       1|2039.9940|           0.0000|2039.9940|      null|     null|    null|    null|
|       43667|                79|5/31/2011|6/12/2011|6/7/2011|       277|      1373| 6107.0820| 586.1203| 183.1626| 6876.3649|      778|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|
|       43667|                80|5/31/2011|6/12/2011|6/7/2011|       277|      1373| 6107.0820| 586.1203| 183.1626| 6876.3649|      775|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|
|       43659|                 1|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.6206|1971.5149| 616.0984|23153.2339|      776|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|
|       43659|                 2|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.6206|1971.5149| 616.0984|23153.2339|      777|       3|2024.9940|           0.0000|6074.9820|      null|     null|    null|    null|
|       43659|                 3|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.6206|1971.5149| 616.0984|23153.2339|      778|       1|2024.9940|           0.0000|2024.9940|      null|     null|    null|    null|

In [33]:
# Import Dynamic DataFrame class
from awsglue.dynamicframe import DynamicFrame

#Convert from Spark Data Frame to Glue Dynamic Frame
dyfCustomersConvert = DynamicFrame.fromDF(sparkDf, glueContext, "convert")

#Show converted Glue Dynamic Frame
dyfCustomersConvert.show()

{"customerid": 293, "firstname": "Catherine", "lastname": "Abel", "fullname": "Catherine Abel"}
{"customerid": 295, "firstname": "Kim", "lastname": "Abercrombie", "fullname": "Kim Abercrombie"}
{"customerid": 297, "firstname": "Humberto", "lastname": "Acevedo", "fullname": "Humberto Acevedo"}
{"customerid": 291, "firstname": "Gustavo", "lastname": "Achong", "fullname": "Gustavo Achong"}
{"customerid": 299, "firstname": "Pilar", "lastname": "Ackerman", "fullname": "Pilar Ackerman"}
{"customerid": 305, "firstname": "Carla", "lastname": "Adams", "fullname": "Carla Adams"}
{"customerid": 301, "firstname": "Frances", "lastname": "Adams", "fullname": "Frances Adams"}
{"customerid": 307, "firstname": "Jay", "lastname": "Adams", "fullname": "Jay Adams"}
{"customerid": 309, "firstname": "Ronald", "lastname": "Adina", "fullname": "Ronald Adina"}
{"customerid": 311, "firstname": "Samuel", "lastname": "Agcaoili", "fullname": "Samuel Agcaoili"}
{"customerid": 313, "firstname": "James", "lastname": "Aguilar", "fullname": "James Aguilar"}
{"customerid": 315, "firstname": "Robert", "lastname": "Ahlering", "fullname": "Robert Ahlering"}
{"customerid": 319, "firstname": "Kim", "lastname": "Akers", "fullname": "Kim Akers"}
{"customerid": 441, "firstname": "Stanley", "lastname": "Alan", "fullname": "Stanley Alan"}
{"customerid": 323, "firstname": "Amy", "lastname": "Alberts", "fullname": "Amy Alberts"}
{"customerid": 325, "firstname": "Anna", "lastname": "Albright", "fullname": "Anna Albright"}
{"customerid": 327, "firstname": "Milton", "lastname": "Albury", "fullname": "Milton Albury"}
{"customerid": 329, "firstname": "Paul", "lastname": "Alcorn", "fullname": "Paul Alcorn"}
{"customerid": 331, "firstname": "Gregory", "lastname": "Alderson", "fullname": "Gregory Alderson"}
{"customerid": 333, "firstname": "J. Phillip", "lastname": "Alexander", "fullname": "J. Phillip Alexander"}

In [34]:
# write down the data in converted Dynamic Frame to S3 location. 
glueContext.write_dynamic_frame.from_options(
                            frame = dyfCustomersConvert,
                            connection_type="s3", 
                            connection_options = {"path": "s3://chivas-1994-101/write_down_dyf_to_s3"}, 
                            format = "csv", 
                            format_options={
                                "separator": ","
                                },
                            transformation_ctx = "datasink2")

<awsglue.dynamicframe.DynamicFrame object at 0x7f0a20504760>

In [35]:
# write data from the converted to customers_write_dyf table using the meta data stored in the glue data catalog 
glueContext.write_dynamic_frame.from_catalog(
    frame = dyfCustomersConvert,
    database = "pyspark_tutorial_db",  
    table_name = "customers_write_dyf")

<awsglue.dynamicframe.DynamicFrame object at 0x7f0a205040a0>