In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dfGroupBy').getOrCreate()

In [3]:
spark

In [7]:
dframe=spark.read.csv('test3.csv', header=True, inferSchema=True)
dframe.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
|  edgar|Data science| 10000|
|  flaco|         IOT|  5000|
|  rojas|    Big Data|  4000|
|   alan|    Big Data|  4000|
| miriam|Data science| 30000|
|   jose|Data science| 20000|
|   raul|         IOT| 10000|
| carlos|    Big Data|  5000|
|alfredo|Data science| 10000|
+-------+------------+------+

In [12]:
dframe.show()

+-----+------------+------+
| Name| Departments|Salary|
+-----+------------+------+
|edgar|Data science| 10000|
|flaco|         IOT|  5000|
|flaco|    Big Data|  4000|
|flaco|    Big Data|  4000|
|edgar|Data science| 30000|
|edgar|Data science| 20000|
| joto|         IOT| 10000|
| joto|    Big Data|  5000|
| joto|Data science| 10000|
| null|        null|  null|
+-----+------------+------+

In [8]:
dframe.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [13]:
#Group by
dframe.groupBy('Name').sum('Salary').show()

+-----+-----------+
| Name|sum(Salary)|
+-----+-----------+
| null|       null|
|edgar|      60000|
|flaco|      13000|
| joto|      25000|
+-----+-----------+

In [14]:
dframe.groupBy('Departments').sum('Salary').show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|        null|       null|
|Data science|      70000|
|    Big Data|      13000|
+------------+-----------+

In [15]:
dframe.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(Salary)|
+------------+-----------------+
|         IOT|           7500.0|
|        null|             null|
|Data science|          17500.0|
|    Big Data|4333.333333333333|
+------------+-----------------+

In [16]:
dframe.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|        null|    1|
|Data science|    4|
|    Big Data|    3|
+------------+-----+

In [18]:
dframe.agg({'Salary':'mean'}).show()

+------------------+
|       avg(Salary)|
+------------------+
|10888.888888888889|
+------------------+

In [21]:
dframe.groupBy('Name').max().show()
dframe.groupBy('Name').min().show()

+-----+-----------+
| Name|max(Salary)|
+-----+-----------+
| null|       null|
|edgar|      30000|
|flaco|       5000|
| joto|      10000|
+-----+-----------+

+-----+-----------+
| Name|min(Salary)|
+-----+-----------+
| null|       null|
|edgar|      10000|
|flaco|       4000|
| joto|       5000|
+-----+-----------+