In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframes').getOrCreate()

In [6]:
dframe=spark.read.csv('test1.csv', header=True, inferSchema=True)
dframe.show()

+-----+----+----------+
| Name| Age|experience|
+-----+----+----------+
|edgar|  30|         1|
|flaco|  29|         2|
|rojas|  32|         3|
| alan|  28|         4|
| null|null|      null|
+-----+----+----------+

In [11]:
dframe=dframe.withColumn("Salary", dframe['experience']*10000)

In [12]:
dframe.show()

+-----+----+----------+------+
| Name| Age|experience|Salary|
+-----+----+----------+------+
|edgar|  30|         1| 10000|
|flaco|  29|         2| 20000|
|rojas|  32|         3| 30000|
| alan|  28|         4| 40000|
| null|null|      null|  null|
+-----+----+----------+------+

In [14]:
#Salary of people that is less than or equal to 20000
dframe.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|Age|experience|Salary|
+-----+---+----------+------+
|edgar| 30|         1| 10000|
|flaco| 29|         2| 20000|
+-----+---+----------+------+

In [18]:
#dframe.filter("Salary<=20000").select(['Name', 'Age']).show()
dframe.filter((dframe['Salary']<=20000) & 
              (dframe['Age']>=30)).show()

+-----+---+----------+------+
| Name|Age|experience|Salary|
+-----+---+----------+------+
|edgar| 30|         1| 10000|
+-----+---+----------+------+

In [20]:
dframe.filter(~(dframe['Salary']<=20000) & 
              ~(dframe['Age']>=30)).show()

+----+---+----------+------+
|Name|Age|experience|Salary|
+----+---+----------+------+
|alan| 28|         4| 40000|
+----+---+----------+------+