In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\User\\anaconda3\\Lib\\site-packages\\pyspark'

In [3]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\user\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\user\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\User\anaconda3\python.exe -m pip install --upgrade pip

In [4]:
import pyspark

In [11]:
import pandas as pd
pd.read_csv('test1.csv')

    Name  Age
0  edgar   30
1  flaco   29
2  rojas   32
3   alan   28

In [9]:
from pathlib import Path

print(Path.cwd())

C:\Users\User\Demos

In [16]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [20]:
spark

In [21]:
df_pyspark=spark.read.csv('test1.csv')

In [23]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|edgar| 30|
|flaco| 29|
|rojas| 32|
| alan| 28|
+-----+---+

In [24]:
spark.read.option('header', 'true').csv('test1.csv').show()

DataFrame[Name: string, Age: string]

In [26]:
spark.read.option('header', 'true').csv('test1.csv').show()

+-----+---+
| Name|Age|
+-----+---+
|edgar| 30|
|flaco| 29|
|rojas| 32|
| alan| 28|
+-----+---+

In [25]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|edgar| 30|
|flaco| 29|
|rojas| 32|
| alan| 28|
+-----+---+

In [28]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [29]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [31]:
df_pyspark.head()

Row(_c0='Name', _c1='Age')

In [32]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)