In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [12]:
##read dataset
dframe=spark.read.option('header', 'true').csv('test1.csv').show()

+-----+----+----------+
| Name| Age|experience|
+-----+----+----------+
|edgar|  30|         1|
|flaco|  29|         2|
|rojas|  32|         3|
| alan|  28|         4|
| null|null|      null|
+-----+----+----------+

In [11]:
import pandas as pd
pd.read_csv('test1.csv')

    Name   Age  experience
0  edgar  30.0         1.0
1  flaco  29.0         2.0
2  rojas  32.0         3.0
3   alan  28.0         4.0
4    NaN   NaN         NaN

In [50]:
dframe=spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

In [18]:
###check schema
dframe.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [17]:
dframe=spark.read.csv('test1.csv', header=True, inferSchema=True)
dframe.show()

+-----+----+----------+
| Name| Age|experience|
+-----+----+----------+
|edgar|  30|         1|
|flaco|  29|         2|
|rojas|  32|         3|
| alan|  28|         4|
| null|null|      null|
+-----+----+----------+

In [20]:
type(dframe)

pyspark.sql.dataframe.DataFrame

In [22]:
dframe.columns

['Name', 'Age', 'experience']

In [26]:
dframe.head(4)

[Row(Name='edgar', Age=30, experience=1),
 Row(Name='flaco', Age=29, experience=2),
 Row(Name='rojas', Age=32, experience=3),
 Row(Name='alan', Age=28, experience=4)]

In [34]:
dframe.select('Name','Age')

DataFrame[Name: string, Age: int]

In [33]:
dframe.select('Name', 'Age').show()

+-----+----+
| Name| Age|
+-----+----+
|edgar|  30|
|flaco|  29|
|rojas|  32|
| alan|  28|
| null|null|
+-----+----+

In [35]:
dframe['Name']

Column<'Name'>

In [38]:
dframe.dtypes

[('Name', 'string'), ('Age', 'int'), ('experience', 'int')]

In [42]:
dframe.describe().show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|        experience|
+-------+-----+------------------+------------------+
|  count|    4|                 4|                 4|
|   mean| null|             29.75|               2.5|
| stddev| null|1.7078251276599328|1.2909944487358056|
|    min| alan|                28|                 1|
|    max|rojas|                32|                 4|
+-------+-----+------------------+------------------+

In [51]:
###Adding columns in data frame
dframe=dframe.withColumn('experience after 2 years', dframe['experience']+2)

In [52]:
dframe.show()

+-----+----+----------+------------------------+
| Name| Age|experience|experience after 2 years|
+-----+----+----------+------------------------+
|edgar|  30|         1|                       3|
|flaco|  29|         2|                       4|
|rojas|  32|         3|                       5|
| alan|  28|         4|                       6|
| null|null|      null|                    null|
+-----+----+----------+------------------------+

In [55]:
###Drop the columns
dframe=dframe.drop('experience after 2 years')

In [56]:
dframe.show()

+-----+----+----------+
| Name| Age|experience|
+-----+----+----------+
|edgar|  30|         1|
|flaco|  29|         2|
|rojas|  32|         3|
| alan|  28|         4|
| null|null|      null|
+-----+----+----------+

In [57]:
###Rename columns
dframe.withColumnRenamed('Name', 'New Name').show()

+--------+----+----------+
|New Name| Age|experience|
+--------+----+----------+
|   edgar|  30|         1|
|   flaco|  29|         2|
|   rojas|  32|         3|
|    alan|  28|         4|
|    null|null|      null|
+--------+----+----------+