In [18]:
new_list = ['Amy' , 'Bob', 'Charlie', 'Daisy']
#new_list[0]
new_list[0:-2]

['Amy', 'Bob']

In [7]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [22]:
type(list_str)

list

In [23]:
print(list_str[1])

Honda Accord

In [5]:
list_str[4] = "HYUNDAI ELANTRA"

IndexError: list assignment index out of range

In [8]:
list_str.append('HYUNDAI ELANTRA')

In [18]:
list_str

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'HYUNDAI ELANTRA',
 'Nissan Altima',
 'Ford Fusion',
 'Kia Optima',
 'Kia Sportage']

In [10]:
list_str.append('HYUNDAI ELANTRA','Ford Fusion')

TypeError: list.append() takes exactly one argument (2 given)

In [11]:
list_str.insert(6, 'Ford Fusion')

In [13]:
list_str.insert(5, 'Nissan Altima')

In [17]:
list_str.extend(['Kia Optima', 'Kia Sportage'])

In [19]:
list_str2 = ['Hennesey Venom', 'Lamborghino Huracan', 'Aston Martin DB9']
list_str2

['Hennesey Venom', 'Lamborghino Huracan', 'Aston Martin DB9']

In [20]:
comp_list = list_str + list_str2
comp_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'HYUNDAI ELANTRA',
 'Nissan Altima',
 'Ford Fusion',
 'Kia Optima',
 'Kia Sportage',
 'Hennesey Venom',
 'Lamborghino Huracan',
 'Aston Martin DB9']

In [22]:
comp_list.index('Toyota Camry')

0

In [23]:
comp_list.remove('Toyota Corolla')

In [ ]:
comp_list.index('Toyota Camry')